haruka/config.py
*.pyc
.idea/
logfile
backups/
.project
.pydevproject
.directory
.vscode
sticker.png
foto/mocked*.jpg
foto/kimed*.jpg
foto/hitlered*.jpg
foto/ayush*.jpg
foto/khiladi*.jpg
kangsticker
kangsticker.png
okgoogle.png
log.err
log.log
*.backup
